<header class="header">
  <div class="header_logo">
    <a href="/"><img src="https://cdn.iconscout.com/icon/free/png-512/free-subasta-icon-svg-download-png-13079417.png?f=webp&w=512" alt="Subastas Web"></a>
  </div>

  <nav class="header_nav">
    <ul>
      <li><a routerLink="/subastas" (click)="scrollASubastas()">Subastas</a></li>
      <li><a routerLink="/quienes-somos" (click)="scrollAQuienesSomos()">Quiénes somos</a></li>
      <li><a routerLink="/contacto" (click)="scrollAContacto()">Contacto</a></li>
    </ul>
  </nav>
</header>
